
.bg-login::before {
    content: "";
    position: absolute;
    background-image: url("../img/tap_water_bg.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-login .card-header {
    background-color: #39B9FF;
    padding-top: 0;
}

.detalle .card-header {
    background-color: #fff;
}

.btn-primary {
    background-color: #FF525D;
    border: none;
}

.btn-primary:hover {
    background-color: #39B9FF;
}

.main-nav {
    background-color: #39B9FF;
}

.text-primary {
    color:#FF525D !important;
}
.user_name_card {
    font-size: 1.5em;
}